Z_OD/vobs/crs/Java_projects/RAD_Workspaces/SPILPNR/SPIL/WebContent/WEB-INF/wsdl/PciTokenMgrConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?><!--Created by TIBCO WSDL--><wsdl:definitions name="generatedWSDL" targetNamespace="http://soa.delta.com/pci/soagov/v1" xmlns:ns0="http://schemas.delta.com/pci/v1/pcipan" xmlns:ns1="http://schemas.delta.com/pci/v1/requestinfo" xmlns:ns2="http://schemas.delta.com/pci/v1/pcitokenmgrresp" xmlns:ns3="http://schemas.delta.com/pci/v1/countryinfo" xmlns:ns4="http://schemas.delta.com/pci/v1/dictionary" xmlns:ns5="http://schemas.delta.com/pci/v1/pcitoken" xmlns:ns6="http://schemas.delta.com/pci/v1/pciitemstat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soa.delta.com/pci/soagov/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.delta.com/pci/v1/pcipan" xmlns:pcipan="http://schemas.delta.com/pci/v1/pcipan" xmlns:reginf="http://schemas.delta.com/pci/v1/countryinfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://schemas.delta.com/pci/v1/countryinfo"/>
            <xs:complexType name="PciPan">
                <xs:annotation>
                    <xs:documentation>A representation of a credit card number that includes various pieces of metadata derived from the number.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="ISO3166CountryInfo" nillable="true" type="reginf:ISO3166CountryInfo"/>
                </xs:sequence>
                <xs:attribute name="CheckDigit">
                    <xs:annotation>
                        <xs:documentation>The check digit of the credit card number which serves as a checksum for checking the validity of the credit card number.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\d"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="FullCardNumber">
                    <xs:annotation>
                        <xs:documentation>The full credit card number with whitespace removed.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="(\d{5}[A-Z][A-Z0-9]{3,6}[A-Z]{0,3}\d{4}|\d{12,19})"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="IssuerAlphaIdentifier">
                    <xs:annotation>
                        <xs:documentation>A 2-character alphabetic code that identifies the issuer, e.g. AX for American Express.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[A-Z]{2}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="IssuerName">
                    <xs:annotation>
                        <xs:documentation>The name of the card the issuer, e.g. American Express, VISA, MasterCard, Discover, etc.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value=".{1,60}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="IssuerNumIdentifier">
                    <xs:annotation>
                        <xs:documentation>The portion of the credit card number that identifies the issuer, i.e. the first 6 digits.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\d{6}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="MajorIndustryIdentifierCode">
                    <xs:annotation>
                        <xs:documentation>Major Industry Identifier (MII) code digit, which represents the category of entity which issued your credit card, e.g. Airlines, Banking, Merchandising, Petroleum, etc.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\d"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="MajorIndustryIdentifierName">
                    <xs:annotation>
                        <xs:documentation>Major Industry Identifier (MII) name, e.g. Airlines, Banking, Merchandising, Petroleum, etc.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value=".{1,60}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="PersonalAccountNumber">
                    <xs:annotation>
                        <xs:documentation>The portion of the credit card number that identifies the individual account.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\d{6,12}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.delta.com/pci/v1/requestinfo" xmlns:pcireqinf="http://schemas.delta.com/pci/v1/requestinfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="PciRequestInfo">
                <xs:annotation>
                    <xs:documentation>PciTokRequestInfo documents convey request metadata to the various PCI Tokenization web services.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="AgentDutyCode">
                    <xs:annotation>
                        <xs:documentation>TPF Duty/Role.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[a-zA-Z]{1,2}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="AgentSineCode">
                    <xs:annotation>
                        <xs:documentation>TPF Sign/Employee initials.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[a-zA-Z]{1,2}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="AppChannelName" use="required">
                    <xs:annotation>
                        <xs:documentation>The name of the channel from which the request is originating, e.g. kiosk, delta.com, etc.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[a-zA-Z0-9_\.]{1,8}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="AppCompanyName" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>The company associated with the software making the call, e.g. Delta, Tibco, et al.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="AppName" use="required">
                    <xs:annotation>
                        <xs:documentation>The name of the application making the request.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[a-zA-Z0-9_\.]{1,20}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="AppVersion">
                    <xs:annotation>
                        <xs:documentation>The (RET) version of the application calling the service, e.g. V1.0.0.0</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[Vv](\d+\.){3}\d+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute default="TPF" name="BackendHostId">
                    <xs:annotation>
                        <xs:documentation>Identifier for the backend token manager that the caller would like to handle the request, i.e. TPF or ZOS</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="([Tt][Pp][Ff]|[Zz][Oo][Ss])"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="CorrelationId">
                    <xs:annotation>
                        <xs:documentation>A correlation identifier that is created by the caller for the caller's own tracking purposes. If supplied, it is to be returned in responses from the PCI Tokenization web service operations.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value=".{1,20}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="DeltaPassportUserId">
                    <xs:annotation>
                        <xs:documentation>The Delta Passport ID of the end user calling the tokenization service.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[a-zA-Z0-9]{9,10}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="DeltamaticUserId">
                    <xs:annotation>
                        <xs:documentation>The Deltamatic login ID of the end user calling the tokenization service.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[A-Z0-9]{6,10}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="IsAppInternal" type="xs:boolean" use="required">
                    <xs:annotation>
                        <xs:documentation>A flag indicating whether the caller is internal or external, i.e. inside the firewall or outside the firewall. Within the DMZ is considered external.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="IsDebugInfoRequested" type="xs:boolean" use="required">
                    <xs:annotation>
                        <xs:documentation>A flag indicating whether the caller wishes to receive any available trace and/or debug info produced by the service in the response.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="NetworkAddress">
                    <xs:annotation>
                        <xs:documentation>The workstation IP address or WSINE of the machine from which the end user is making a call.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="((\d{1,3}\.){3}\d{1,3}|[a-zA-Z0-9]{1,15})"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="WorkstationName">
                    <xs:annotation>
                        <xs:documentation>The workstation name of the machine from which the end user is making a call.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[a-zA-Z0-9]{1,20}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://soa.delta.com/pci/soagov/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://schemas.delta.com/pci/v1/requestinfo"/>
            <xs:import namespace="http://schemas.delta.com/pci/v1/countryinfo"/>
            <xs:import namespace="http://schemas.delta.com/pci/v1/dictionary"/>
            <xs:import namespace="http://schemas.delta.com/pci/v1/pcipan"/>
            <xs:import namespace="http://schemas.delta.com/pci/v1/pcitoken"/>
            <xs:import namespace="http://schemas.delta.com/pci/v1/pciitemstat"/>
            <xs:import namespace="http://schemas.delta.com/pci/v1/pcitokenmgrresp"/>
            <xs:complexType name="ArrayOfString">
                <xs:sequence>
                    <xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="DecodeArrayOfTokensRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element form="unqualified" name="requestInfo" type="ns1:PciRequestInfo"/>
                        <xs:element form="unqualified" name="tokenList" type="tns:ArrayOfString"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DecodeArrayOfTokensResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element form="unqualified" name="DecodeArrayOfTokensResult" type="ns2:PciTokMgrResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LookupArrayOfTokensRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element form="unqualified" name="requestInfo" type="ns1:PciRequestInfo"/>
                        <xs:element form="unqualified" name="creditCardNumList" type="tns:ArrayOfString"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LookupArrayOfTokensResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element form="unqualified" name="LookupArrayOfTokensResult" type="ns2:PciTokMgrResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.delta.com/pci/v1/pcitokenmgrresp" xmlns:dict="http://schemas.delta.com/pci/v1/dictionary" xmlns:pciitem="http://schemas.delta.com/pci/v1/pciitemstat" xmlns:pcitokresp="http://schemas.delta.com/pci/v1/pcitokenmgrresp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://schemas.delta.com/pci/v1/pciitemstat"/>
            <xs:import namespace="http://schemas.delta.com/pci/v1/dictionary"/>
            <xs:complexType name="PciTokMgrResponse">
                <xs:annotation>
                    <xs:documentation>A response from the PCI Tokenization Token Manager service.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="OperationTimestamp" type="xs:dateTime"/>
                    <xs:element name="StatusList" type="pciitem:ArrayOfPciTokItemStatus"/>
                    <xs:element name="AdditionalProviderInfo" type="dict:DictionaryType"/>
                </xs:sequence>
                <xs:attribute name="GeneratedBy">
                    <xs:annotation>
                        <xs:documentation>
					The name of the Pci Tokenization service (internal) component that generated the PciTokMgrResponse, e.g. TpfTokMgrSscProvider, TpfTokMgrSoapVectrProvider, ZosTokMgrProvider, etc.
				</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\w+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="OperationName">
                    <xs:annotation>
                        <xs:documentation>
					The name of the Pci Tokenization service operation that generated the PciTokMgrResponse.
				</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\w+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="RawTraceText">
                    <xs:annotation>
                        <xs:documentation>A detailed trace and/or debug info pertaining to the PciTokStatusItem. The level of trace/debug info provided here may be influenced by the DebugInfoRequested attribute of the PciRequestInfo provided by the caller.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value=".*"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="ReasonCode" use="required">
                    <xs:annotation>
                        <xs:documentation>
					The reason code associated with the event or state of the operation. The reason code is intended to provide information about the cause of the StatusCode. The number of possible values may be large if the number of known error conditions is extensive.
				</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\d{3}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="ReasonText">
                    <xs:annotation>
                        <xs:documentation>A text reason description assocatied with the ReasonCode of the PciTokStatusItem.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value=".*"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="ServiceName">
                    <xs:annotation>
                        <xs:documentation>
					The name of the Pci Tokenization service that generated the PciTokMgrResponse. This will intially likely be exclusively PciTokenMgr.
				</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\w+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="StatusCode" use="required">
                    <xs:annotation>
                        <xs:documentation>The status code associated with the event or state of the operation. The number of possible values is small, and they broadly indicate success or failure.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\d{3}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="StatusText">
                    <xs:annotation>
                        <xs:documentation>A text status description assocatied with the StatusCode of the PciTokStatusItem.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value=".*"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="SvcTrackingId" use="required">
                    <xs:annotation>
                        <xs:documentation>
					A unique tracking ID for the request that corresponds to the PciTokMgrResponse document. Intended for logging/troubleshooting purposes.
					Could also be used for status query of async work should such functionality be required in the future.
				</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value=".+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="UserCorrelationId">
                    <xs:annotation>
                        <xs:documentation>
					An optional tracking ID provided by the caller (in PciRequestInfo parameters) The PCI Tokenization service simply transposes this value from the request parameters to the response returned.
					It has no bearing on service processing. 
				</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value=".+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.delta.com/pci/v1/countryinfo" xmlns:reginf="http://schemas.delta.com/pci/v1/countryinfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="ISO3166CountryInfo">
                <xs:attribute name="CountryName">
                    <xs:annotation>
                        <xs:documentation>The English name of the country.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value=".{40}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="ThreeDigitISORegionCode">
                    <xs:annotation>
                        <xs:documentation>The three-digit ISO-3166 code of the country.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[0-9]{3}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="ThreeLetterISORegionName">
                    <xs:annotation>
                        <xs:documentation>The three-letter ISO-3166 code of the country.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[A-Z]{3}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="TwoLetterISORegionName">
                    <xs:annotation>
                        <xs:documentation>The three-letter ISO-3166 code of the country.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[A-Z]{2}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.delta.com/pci/v1/dictionary" xmlns:dict="http://schemas.delta.com/pci/v1/dictionary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="DictionaryType">
                <xs:annotation>
                    <xs:documentation>A string-only name-value pair map.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="dict:ItemType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ItemType">
                <xs:sequence>
                    <xs:element name="key" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="dictionary" type="dict:DictionaryType"/>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.delta.com/pci/v1/pcitoken" xmlns:pcitok="http://schemas.delta.com/pci/v1/pcitoken" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="PciToken">
                <xs:annotation>
                    <xs:documentation>A representation of a credit card number that has been tokenized according to Payment Card Industry (PCI) standards.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="CheckDigit">
                    <xs:annotation>
                        <xs:documentation>The token check digit (really an alpha A-Z) value.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[A-Z]"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="FullToken">
                    <xs:annotation>
                        <xs:documentation>The full token.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="(\d{5}[A-Z][A-Z0-9]{3,6}[A-Z]{0,3}\d{4}|\d{12,19})"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="Prefix">
                    <xs:annotation>
                        <xs:documentation>The prefix portion of the token.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\d{5}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="Suffix">
                    <xs:annotation>
                        <xs:documentation>The token suffix value.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\d{4}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="TokenInteriorValue">
                    <xs:annotation>
                        <xs:documentation>The token interior value (i.e. token with prefix and suffix trimmed). This token check digit and any TIV extension chars are included in the TokenInteriorValue.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[A-Z][A-Z0-9]{3,6}[A-Z]{0,3}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.delta.com/pci/v1/pciitemstat" xmlns:pciitem="http://schemas.delta.com/pci/v1/pciitemstat" xmlns:pcipan="http://schemas.delta.com/pci/v1/pcipan" xmlns:pcireqinf="http://schemas.delta.com/pci/v1/requestinfo" xmlns:pcitok="http://schemas.delta.com/pci/v1/pcitoken" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://schemas.delta.com/pci/v1/pcitoken"/>
            <xs:import namespace="http://schemas.delta.com/pci/v1/pcipan"/>
            <xs:import namespace="http://schemas.delta.com/pci/v1/requestinfo"/>
            <xs:complexType name="ArrayOfPciTokItemStatus">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="StatusItem" nillable="true" type="pciitem:PciTokItemStatus"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PciTokItemStatus">
                <xs:annotation>
                    <xs:documentation>A representation of a status event (or log entry) for a PCI service operation call. PCITokItemStatus docs are generated in response to token operation calls and audit log queries.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="OperationTimestamp" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="Token" type="pcitok:PciToken"/>
                    <xs:element minOccurs="0" name="CreditCardNumber" type="pcipan:PciPan"/>
                    <xs:element minOccurs="0" name="PciRequestInfo" type="pcireqinf:PciRequestInfo"/>
                </xs:sequence>
                <xs:attribute name="BackendHandlerId">
                    <xs:annotation>
                        <xs:documentation>Indicator of the backend provider that handled the operation represented by this event. AKA Cache Repository Name.  Value should either indicate ZOS or TPF.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\w{3}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="OperationName">
                    <xs:annotation>
                        <xs:documentation>
					The name of the Pci Tokenization service operation that generated the PciTokStatusItem. For token management calls, this will be the name of the operation called.
					For audit log query calls, this will reflect the name of the original operation that generated the state, not the query call itself.
				</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\w{1,64}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="RawTraceText">
                    <xs:annotation>
                        <xs:documentation>A detailed trace and/or debug info pertaining to the PciTokStatusItem. The level of trace/debug info provided here may be influenced by the DebugInfoRequested attribute of the PciRequestInfo provided by the caller.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value=".*"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="ReasonCode" use="required">
                    <xs:annotation>
                        <xs:documentation>
					The reason code associated with the event or state of the operation. The reason code is intended to provide information about the cause of the StatusCode. The number of possible values may be large if the number of known error conditions is extensive.
				</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\d{3}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="ReasonText">
                    <xs:annotation>
                        <xs:documentation>A text reason description assocatied with the ReasonCode of the PciTokStatusItem.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value=".*"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="StatusCode" use="required">
                    <xs:annotation>
                        <xs:documentation>The status code associated with the event or state of the operation. The number of possible values is small, and they broadly indicate success or failure.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\d{3}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="StatusText">
                    <xs:annotation>
                        <xs:documentation>A text status description assocatied with the StatusCode of the PciTokStatusItem.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value=".*"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="TransactionHistorySequenceNumber" type="xs:int">
                    <xs:annotation>
                        <xs:documentation>Part 2 of a 2-part key in the backend transaction table. Presumably just a differentiator for multiple operations that happen within the same millisecond. Notes: Choice: DBUKY generated on TPFDF;  DB2 generated.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="DecodeArrayOfTokensRequest">
        <wsdl:part element="tns:DecodeArrayOfTokensRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DecodeArrayOfTokensResponse">
        <wsdl:part element="tns:DecodeArrayOfTokensResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="LookupArrayOfTokensRequest">
        <wsdl:part element="tns:LookupArrayOfTokensRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="LookupArrayOfTokensResponse">
        <wsdl:part element="tns:LookupArrayOfTokensResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="PciTokenMgr">
        <wsdl:operation name="DecodeArrayOfTokens">
            <wsdl:input message="tns:DecodeArrayOfTokensRequest"/>
            <wsdl:output message="tns:DecodeArrayOfTokensResponse"/>
        </wsdl:operation>
        <wsdl:operation name="LookupArrayOfTokens">
            <wsdl:input message="tns:LookupArrayOfTokensRequest"/>
            <wsdl:output message="tns:LookupArrayOfTokensResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PciTokenMgr_EP" type="tns:PciTokenMgr">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="DecodeArrayOfTokens">
            <wsdl:documentation/>
            <soap:operation soapAction="DecodeArrayOfTokens" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="LookupArrayOfTokens">
            <wsdl:documentation/>
            <soap:operation soapAction="LookupArrayOfTokens" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PciTokenMgr">
        <wsdl:port binding="tns:PciTokenMgr_EP" name="PciTokenMgr_EP">
            <soap:address location="https://webservices-si.delta.com:36518/pcitokenmgr"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>